!!!
html
  head
    //title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyAINmJc-CWtRumdzYcgXp986ZvmXsaSjJ4&libraries=places&sensor=false')
    script(src='/javascripts/client.js')
  body!= body