h2 Search Lift

script(src='/nowjs/now.js')

form(id='search-lift', method='post', action='/search')
  div
    label From:
      input(id='lift-from', name='lift[from]')
      input(id='lift-from-coord', name='lift[from_coord]', type='hidden')
  div
    label To:
      input(id='lift-to', name='lift[to]')
      input(id='lift-to-coord', name='lift[to_coord]', type='hidden')
  div
    label Date:
      input(id='lift-date', name='lift[date]')
  div
    input(type='submit', value='Search')

div#search-result