script(src='/nowjs/now.js')

div#search-form
  form(id='search-lift', method='post', action='/search')
    div
      label From:
        input(id='search-from')
        input(id='search-from-lat', disabled='true')
        input(id='search-from-lng', disabled='true')
    div
      label To:
        input(id='search-to')
        input(id='search-to-lat', disabled='true')
        input(id='search-to-lng', disabled='true')
    div
      label Date:
        input(id='search-date')
        input(id='search-date-tolerance', type='hidden')
    div
      input(id='search-from-tolerance', type='hidden')
      input(id='search-to-tolerance', type='hidden')
      input(type='submit', value='Search')
  p
  a(href='/lifts', title='New lift') Back to full list

div#map-canvas

div#search-result