script(src='/nowjs/now.js')

div#search-form
  form(id='search-lift', method='post', action='/search')
    div
      label From:
        input(id='search-from')
        input(id='search-from-lng', type='hidden')
        input(id='search-from-lat', type='hidden')
    div
      label To:
        input(id='search-to', name='lift[to]')
        input(id='search-to-lng', type='hidden')
        input(id='search-to-lat', type='hidden')
    div
      label Date:
        input(id='search-date', name='lift[date]')
    div
      input(id='search-tolerance', type='hidden')
      input(type='submit', value='Search')
  p
  a(href='/lifts', title='New lift') Back to full list

div#map-canvas

div#search-result