body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#search-form {
    float: left;
    width: 250px;
    height: 500px;
    margin: 0;
    padding: 0;
}

#map-canvas {
    float: left;
    width: 500px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#search-result {
    float: left;
    height: 500px;
    margin: 10px;
    padding: 0;
}

#tolerance {
    border: 0;
    padding: 0;
    color: #FF0000;
    font-weight:bold;
    width:200px;
    text-align:center;
    background-color: #aaaaaa;
}