body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

li:hover {
    color:red;
}

#form-lift {
    float: left;
    width: 300px;
    height: 500px;
    margin: 0;
    padding: 0;
}

#search-form {
    float: left;
    width: 250px;
    height: 500px;
    margin: 0;
    padding: 0;
}

#map-canvas {
    float: left;
    width: 500px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#search-result {
    float: left;
    width: 300px;
    margin: 20px;
    padding: 0;
}

.slider {
    width: 200px;
    padding-top: 5px;
    padding-bottom: 20px;
}

#text-from-tolerance  {
    border: 0;
    padding: 0;
    color: #FFFF00;
    font-weight:bold;
    width:200px;
    text-align:center;
    background-color: #aaaaaa;
}

#text-to-tolerance {
    border: 0;
    padding: 0;
    color: #00F000;
    font-weight:bold;
    width:200px;
    text-align:center;
    background-color: #aaaaaa;
}

#text-date-tolerance {
    border: 0;
    padding: 0;
    color: #0000FF;
    font-weight:bold;
    width:200px;
    text-align:center;
    background-color: #aaaaaa;
}

