body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#search-form {
    float: left;
    width: 300px;
    margin: 0;
    padding: 0;
}

#search-result-container {
    float: left;
    width: 500px;
    margin: 0;
    padding: 0;
}

#map-canvas {
    height: 300px;
    width: 400px;
    margin: 0;
    padding: 0;
}